{% extends 'bangazon_ultra/index.html' %}

{% block content %}
{% csrf_token %}

<div class="col-sm-10 col-sm-offset-1">
    <h1>{{ product.title }}</h1>
</div>
<div class="col-sm-10 col-sm-offset-1">
    <h2 >{{ product.description }}</h2>
</div>

<div class="col-sm-10 col-sm-offset-1">
    <p>${{ product.price }}</p>
        {%if product.quantity == 0 %}
            <p>SOLD OUT</p>
        {%else %}
            <p>{{product.quantity}}</p>
            <img src="{{ product.product_image }}" alt="Meg Armstrong">
        {%endif%}
</div>
<div class="col-sm-10 col-sm-offset-1">
{% if request.user.is_authenticated %}
<form class="" action="{% url 'bangazon_ultra:add_product_to_order' %}" method="post">
    {% csrf_token %}
    <button type="submit" value="{{product.id}}" name="product_id"/>Buy Product</button>
</form>
{%endif%}
</div>
{% endblock %}
